body
{   
    width: 100%;
    height: 100%;
    background-position-y: -40%;
    background-image: url("../media/chickenoregg.jpg");
    background-repeat: no-repeat;    
}
h1
{
    font-size: 40px;
    margin-left: 20%;
}
img
{
    opacity: .5;
}
img:hover
{
    opacity: 1;
}

#b-color
{
    display: inline-flex;   
    margin-left: 15%;
}
.pic
{
    width: 220px; 
    height: 220px;  
    padding-left: 1%;
    padding-top: 2%;
    background-color: white;
    opacity: .5;
}
.pic:hover
{
    opacity: 1;
}
.health
{
    padding-left: 40%;
}

#enemy-select
{
    display: inline-flex;
    margin-left: 0%;
}